
@font-face {
    font-family: 'myCustomFont'; /*a name to be used later*/
    src: url('fonts/fontastique.ttf'); /*URL to font*/
}


body{
    background-color: white;
    color: black;
    padding: 0;
}


div .col-lg-7{
    padding: 0;
}
h1{
    font-size: 60px;
    margin-bottom: 60px;
    font-family: 'myCustomFont';
}

p{
    font-size: 20px;
}

/* %%%%%%% HEADER STYLE   %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */


#header{
    top: 0;
    min-height:995px;
    width: 100%;
    background-color: #648cff;
    background-image: url('./img/header-background.png');
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#header-text{
    margin-top: 180px;
}


#phone-container{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 470px;

}
#phone{
    position: relative;
    display: block;
    margin-top: 180px;
    z-index: 5;
    margin-left: auto;
    margin-right: auto;

}

.circle-container{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;


}
.circle{
    border-radius: 50%;
    position: absolute;
    display: block;
    z-index: 20;

}
.circle p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: 700;
}

#circle-1{
    background-color: #4466c9;
    width: 95px;
    height: 95px;
    z-index: 50;
    position: absolute;
    right: -30px;
    bottom: 250px;
}
#circle-1 p{
    font-size: 18px;
}
#circle-2{
    background-color: white;
    color: #4466c9;
    width: 50px;
    height: 50px;
    right: 20px;
    bottom: 490px;
}
#circle-2 p{
    color: #4466c9;
}

#circle-3{
    background-color: #fc6a42;
    width: 95px;
    height: 95px;
    z-index: 50;
    bottom: 230px;
    left: -20px;
}
#circle-3 p{
    font-size: 18px;
}

#circle-4{
    background-color: #fcec64;

    width: 50px;
    height: 50px;
    z-index: 50;
    bottom: -10px;
    right: 20px;
}
#circle-4 p{
    font-size: 18px;
    color: #4466c9;
}

.btn-default, .btn-default:focus{
    border: none;
    color: white;
    width: 158px;
    height: 52px;
    margin-left: 0;
    margin-right: 20px;
    margin-top: 50px;
    font-weight: 500;
    font-size: 20px;
}

.btn-default:hover,.btn-default:active {
    color: rgba(255,255,255,0.7);
}
#download-btn{
    background-color: #fc6a42;
    margin-bottom: 100px;
}
#features-btn{
    background-color: #4466c9;
    margin-bottom: 100px;
}


#scroll-down {
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    width: 85px;
    height: 85px;
    margin-left: auto;
    margin-right: auto;
}

#scroll-down:hover {
    cursor: pointer;
    width: 115px;
    height: 115px;
    bottom: 0;

    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
}


/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* %%%%%%% NAVBAR STYLE   %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

.navbar-fixed-top{
    background-color: #648cff;
    text-align: center;
    font-size: 20px;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
}


.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
   max-height: none;
}

.navbar-default .navbar-nav>li>a, .navbar-brand{
    color: white;
    font-size: 18px;
}
.navbar-nav>li>a:hover{
    color: black;
    cursor: pointer;
}



.navbar-brand{
    color: white !important;
    font-weight: 700;
    position: relative;
    top: 5px;
}
.navbar-brand:hover {
    cursor: pointer;
}
.navbar-toggle{
    background-color: white;
    color: black;
}

.navbar-toggle:hover, .navbar-toggle:active ,.navbar-toggle:focus{
    background-color: #080085 !important;
}


.fa{
    color: black !important;
    font-size: 30px;
}


@media screen and (min-width: 768px){
    .navbar-center{
        width: 55%;
        max-width: 740px;
        text-align: center;
    }
}
@media screen and (max-width: 768px){
    .navbar-center li{
        float: none !important;
        display: block !important;
    }
    .navbar-right-collapse{
        text-align: center !important;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: none !important;
    }
    .navbar-right li{
        display: inline-block;
    }

    .navbar-collapse.in {
        overflow-y: hidden;
        border-bottom: solid white 2px;
    }
}



.navbar-center>li{
    display: inline-block;
    float: right;
    margin: 0;
    padding: 0;
    padding-top: 5px;


}

.navbar-right{
    max-width: 161px;
}


.btn-active, .btn-active:hover{
    background-color: white !important;
    color: #648cff !important;
}




    /* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* %%%%%%% FEATURES STYLE   %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

#features{
    display: block;
    min-height: 100vh;
    min-width: 400px;
    height: auto;
    position: relative;
    margin-bottom: 200px;

}
@media screen and (min-width: 768px){
    #features>div{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

#features>div>div{
    text-align: center;

}

.title-1{
    margin-top: 150px;
    font-size: 40px;
    color: #648cff;
    font-weight: 700;
}
.title-2 {
    font-size: 30px;
    color: #5e5e5e;
    margin-top: 20px;
    margin-bottom: 120px;
}

.feature div div{
    text-align: left;
    margin-bottom: 50px;
}

.feature div div img{
    float: right;
    position: relative;
    top: 10px;
}

.feature div div h2{
    margin-bottom: 25px;
    color: #353854;
    font-weight: 700;
    margin-top: 0;
}
.feature div div p{
    color: #aeaeae;
}




/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
#widgets{
    display: block;
    min-height: 100vh;
    min-width: 400px;
    height: auto;
    position: relative;
    margin-bottom: 200px;
}
#widgets div div{
    text-align: center;
}

.drag-container img{
    margin-left: auto;
    margin-right: auto;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
#screenshots{
    text-align: center;
}

.screenshot-container{
    position: relative;
    min-height: 700px;
}
.screenshot-container img{
    position: absolute;
    top: 0;
    left: 70px;
}

.screenshots-circle{
    background-color: #7cc576;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    font-weight: 600;

}

.screenshots-circle p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 23px;
}

.screenshots-circle-left{
    top: 380px;
}
.screenshots-circle-right{
    top: 170px;
    left: 320px;
}
.screenshot-text{
    text-align: left;
    padding: 80px;
}
.screenshot-text img{
    margin-top: 80px;
}
.screenshot-text .title-1{
    margin-top: 50px;
    margin-bottom: 0;
}
.screenshot-text p{
    margin-top: 50px;
    font-size: 23px;
    font-weight: 500;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

#reviews{
    text-align: center;
    position: relative;
    margin-bottom: 200px;
    margin-top: 200px;

}

.review{
    height: 153px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: left;
    margin: 50px;
}

.review-text{
    margin-top: 70px;
    font-size: 23px;
    color: #353854;
    font-weight: 600;
}

.review-author{
    color: #353854;
}

.comma-1{
    position: absolute;
    left: 30px;
    top: 30px;
}
.comma-2{
    position: absolute;
    right: 80px;
    bottom: 50px;
}



/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
#footer{
    position: relative;
    bottom: 0;
    background-color: #353854;
    min-height: 94vh;
}


.footer-top{
    background-color: #648cff;
    min-height: 47vh;
}

.footer-bottom{
    background-color: #353854;
    min-height: 47vh;
}




.footer-text h2{
    color: white;
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 36px;
}
.footer-text p{
    max-width: 350px;
    color: white;
    font-size: 16px;

}
.footer-text img{
    display: inline-block;
    margin: 50px 10px 50px 10px;
}
.footer-text img:hover{
    cursor: pointer;
}

.footer-menu{
    position: relative;
    min-height: 300px;


}
.footer-menu div {


    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}
.footer-menu div p{
    display: inline-block;
    font-size: 18px;
    margin: 0;
    padding: 0;
    font-weight: 700;
    margin-left: 5px;
}
#fun{
    color: #fc6a42;
}
#weather{
    color: #648cff;
}

.footer-screens{
    position: relative;
}

.footer-screens img{
    width: 300px;
    height: auto;
    display: inline-block;
    position: absolute;
    top: -300px;
    margin-left: auto;
    margin-right:  auto;
}

#footer-main-screen{
    z-index: 15;
    left: 250px;
}
#footer-left-screen{
    left: 100px;
}

#footer-right-screen{
    left: 400px;
}

#footer-left-screen, #footer-right-screen{
    z-index: 10;
    width: 260px;
    top: -270px;

    filter: blur(6px);
    -webkit-filter: blur(6px);
    -moz-filter: blur(6px);
    -o-filter: blur(6px);
    -ms-filter: blur(6px);
}

#credits{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    bottom: 0;
}
#credits p{

    color: #565b87;
    font-size: 12px;
}

