
@font-face {
    font-family: 'myCustomFont'; /*a name to be used later*/
    src: url('fonts/fontastique.ttf'); /*URL to font*/
}


body{
    background-color: white;
    color: black;
    padding: 0px;
}
div .col-lg-7{
    padding: 0px;
}
h1{
    font-size: 60px;
    margin-bottom: 60px;
    font-family: 'myCustomFont';
}

p{
    font-size: 20px;
}

/* %%%%%%% HEADER STYLE   %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */


.header{
    top: 0px;
    min-height:995px;
    width: 100%;
    background-color: #648cff;
    background-image: url('./img/header-background.png');
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#header-text{
    margin-top: 280px;
}


#phone-container{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 470px;

}
#phone{
    position relative;
    display: block;
    margin-top: 280px;
    z-index: 5;
    margin-left: auto;
    margin-right: auto;

}

.circle-container{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;


}
.circle{
    border-radius: 50%;
    position: absolute;
    display: block;
    z-index: 20;

}
.circle p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: 700;
}

#circle-1{
    background-color: #4466c9;
    width: 95px;
    height: 95px;
    z-index: 50;
    position: absolute;
    right: -30px;
    bottom: 250px;
}
#circle-1 p{
    font-size: 18px;
}
#circle-2{
    background-color: white;
    color: #4466c9;
    width: 50px;
    height: 50px;
    right: 20px;
    bottom: 490px;
}
#circle-2 p{
    color: #4466c9;
}

#circle-3{
    background-color: #fc6a42;
    width: 95px;
    height: 95px;
    z-index: 50;
    bottom: 230px;
    left: -20px;
}
#circle-3 p{
    font-size: 18px;
}

#circle-4{
    background-color: #fcec64;

    width: 50px;
    height: 50px;
    z-index: 50;
    bottom: -10px;
    right: 20px;
}
#circle-4 p{
    font-size: 18px;
    color: #4466c9;
}

.btn-default, .btn-default:focus{
    border: none;
    color: white;
    width: 158px;
    height: 52px;
    margin-left: 0px;
    margin-right: 20px;
    margin-top: 50px;
    font-weight: 500;
    font-size: 20px;
}

.btn-default:hover,.btn-default:active {
    color: rgba(255,255,255,0.7);
}
#download-btn{
    background-color: #fc6a42;
    margin-bottom: 100px;
}
#features-btn{
    background-color: #4466c9;
    margin-bottom: 100px;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* %%%%%%% NAVBAR STYLE   %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

.navbar-fixed-top{
    background-color: #648cff;
    text-align: center;
    font-size: 20px;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
}


.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
   max-height: none;
}

.navbar-default .navbar-nav>li>a, .navbar-brand{
    color: white !important;
    font-size: 18px;
}

.navbar-brand{
    font-weight: 700;
    position: relative;
    top: 5px;

}

.navbar-toggle{
    background-color: white;
    color: black;
}

.navbar-toggle:hover, .navbar-toggle:active, navbar-toggle:focus{
    background-color: #080085 !important;
}


.fa{
    color: black !important;
    font-size: 30px;
}


@media screen and (min-width: 768px){
    .navbar-center{
        width: 55%;
        max-width: 740px;
        text-align: center;
    }
}
@media screen and (max-width: 767px){
    .navbar-center li{
        float: none !important;
        display: block !important;
    }
    .navbar-right-collapse{
        text-align: center !important;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: none !important;
    }
    .navbar-right li{
        display: inline-block;
    }

    .navbar-collapse.in {
        overflow-y: hidden;
        border-bottom: solid white 2px;
    }
}



.navbar-center>li{
    display: inline-block;
    padding-left: auto;
    padding-right: auto;
    float: right;
    margin: 0;
    padding: 0;
    padding-top: 5px;


}

.navbar-right{
    max-width: 161px;
}


/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* %%%%%%% FEATURES STYLE   %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

#features{
    display: block;
    min-height: 100vh;
    min-width: 400px;
    height: auto;
    position: relative;
    margin-bottom: 200px;

}
@media screen and (min-width: 768px){
    #features>div{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

#features>div>div{
    text-align: center;

}

.title-1{
    margin-top: 150px;
    font-size: 40px;
    color: #648cff;
    font-weight: 700;
}
.title-2 {
    font-size: 30;
    color: #5e5e5e;
    margin-top: 20px;
    margin-bottom: 120px;
}

.feature div div{
    text-align: left;
    margin-bottom: 50px;
}

.feature div div img{
    float: right;
    position: relative;
    top: 10px;
}

.feature div div h2{
    margin-bottom: 25px;
    color: #353854;
    font-weight: 700;
    margin-top: 0px;
}
.feature div div p{
    color: #aeaeae;
}




/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
#widgets{
    display: block;
    min-height: 100vh;
    min-width: 400px;
    height: auto;
    position: relative;
    margin-bottom: 200px;
}
#widgets div div{
    text-align: center;
}
.drag{
    width: 300px;
    display: inline-block;
    z-index: 10;
    top: 0;

    -webkit-transition: width 500ms, z-index 500ms;
    -moz-transition: width 500ms, z-index 500ms;
    -o-transition: width 500ms, z-index 500ms;
    transition: width 500ms, z-index 500ms;
}
.drag-container{
    height: 10px;
}

#drag1{
    position: absolute;
    left: 100px;
}
#drag2 {
    position: absolute;
    z-index: 21;
    left: 300px;
}
#drag3{
    position: absolute;
    left: 500px;
}

.drag-hover{
    width: 400px !important;
    z-index: 30;

    -webkit-transition: width 500ms, z-index 500ms;
    -moz-transition: width 500ms, z-index 500ms;
    -o-transition: width 500ms, z-index 500ms;
    transition: width 500ms, z-index 500ms;

}


/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */



#footer{
    position: relative;
    bottom: 0px;
}
#content{
    min-height: 6000px;
}

.footer-top{
    background-color: #648cff;
    min-height: 300px;
}
.footer-bottom{
    background-color: #353854;
    min-height: 300px;
}


